@import '../../../../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 4rem;
  background: var(--sidebar-bg-color);
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    display: block;
  }

  #sidebar--nav {
    .sidebar--entry {
      background: #272a2d;
      color: #fff;
      opacity: .6;
      transition: 350ms all;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: none !important;

      & > img {
        margin-right: .5rem;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        border: none;
      }
    }
  }
}
