<div class="container">
  <div class="card p-5 d-flex flex-row">
    <img class="mr-3 img-fluid image-pixelated" height="110" width="110" [class.room--thumbnail]="!hasRoomThumbnail"
         [src]="roomThumbnail" (error)="roomThumbnailError($event)" [alt]="room$.name" [title]="room$.name"/>

    <div class="flex-fill d-inline-flex flex-column">
      <span class="room--title">{{ room$?.name }}</span>
      <span class="room-description">{{ room$?.description }}</span>

      <!-- @TODO: Add icons -->
      <div class="d-inline-flex flex-row">
        {{ room$?.users }} User
      </div>
      <div class="d-inline-flex flex-row">
        max. User {{ room$?.users_max }}
      </div>
      <div class="d-inline-flex flex-row">
        {{ room$?.score }} Likes
      </div>
      <div class="d-inline-flex flex-row">
        {{ room$?.user.username }}
      </div>
    </div>

    <ng-container *ngIf="room$.guild">
      <div class="card bg-gray p-4 d-flex flex-row">
        <img class="mr-3 img-fluid image-pixelated" [class.guild--thumbnail]="!hasGuildBadge"
             [src]="guildBadge" (error)="guildBadgeError($event)" [alt]="room$?.guild?.name"
             [title]="room$?.guild?.name"/>

        <div class="d-inline-flex flex-column">
          <!-- @TODO Add fake Guild -->
          <span class="guild--title">{{ room$?.guild?.name }}</span>
          <span class="guild--description">{{ room$?.guild?.description }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
