{
  "parser": "babel-eslint",
  "plugins": ["react", "import"],
  "extends": "prettier",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "implicit-arrow-linebreak": 0,
    "operator-linebreak": 0,
    "max-len": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": ["any", "array", "object"]
      }
    ],
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-indent": 0,
    "react/jsx-key": 1,
    "indent": 0,
    "no-underscore-dangle": 0,
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "no-useless-escape": 0,
    "no-console": [
      1,
      {
        "allow": ["error", "warn", "log"]
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ]
  }
}
