:host {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  #client {
    height: 100vh;
    width: 100vw;
  }
}
