<section class="ares--hero bg-red">
    <div id="asteroids"></div>
    <div id="room"></div>

    <div class="container" [innerHTML]="'DASHBOARD.HERO.PAGE' | translate: { username: user.username }"></div>
</section>

<section id="ares--settings">
    <div class="container">
        <ul class="float-right">
            <li (click)="switchLanguage(lang)" *ngFor="let lang of languages" [class.active]='lang === languageService.language'>
                <div [class]="'icon--lang-' + lang"></div>
            </li>
            <li>
                <div class="icon--gift"></div>
            </li>
        </ul>
    </div>
</section>