<ares-layout-dashboard-hero class="mb-4"></ares-layout-dashboard-hero>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-4">
          <ares-layout-dashboard-pinned-articles [articles]="pinned"></ares-layout-dashboard-pinned-articles>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mb-2">
          <ares-layout-dashboard-article-slider [articles]="articles"></ares-layout-dashboard-article-slider>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 mb-4">
          <ares-layout-dashboard-friends [friends]="friends" [pagination]="friendsPagination"></ares-layout-dashboard-friends>
        </div>

        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 mb-2">
          <ares-layout-dashboard-guild [guild]="guild" class="card mb-3"></ares-layout-dashboard-guild>
          <ares-layout-dashboard-room [room]="room" class="card mb-3"></ares-layout-dashboard-room>
          <ares-layout-dashboard-discord [invite]="discord.value" class="card mb-3"></ares-layout-dashboard-discord>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h3>PLACEHOLDER</h3>
        </div>
      </div>
    </div>
  </div>
</div>
