.navbar {
    height: 6rem;

    & .navbar-brand {
        margin-right: 2rem;
    }

    & #navbar {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    text-transform: uppercase;
                    font-weight: 600;
                    position: relative;
                    transition: color .3s;

                    &.active {
                        color: #fff;
                    }

                    &::before {
                        content: '';
                        display: inline-flex;
                        position: absolute;
                        left: 0;
                        top: -.4rem;
                        height: 3.5rem;
                        width: 2px;
                        border-left: 2px solid var(--main-bg-color);
                    }

                    &:hover,
                    &:focus,
                    &.active {
                        color: #fff;
                    }
                }

                .icon--dashboard {
                    background-position: center center;
                }

                .icon--articles {
                    background-position: center center;
                }

                .icon--employees {
                    background-position: center center;
                }

                .icon--settings {
                    background-position: center center;
                }

                &:last-child > .nav-link::after {
                    content: '';
                    display: inline-flex;
                    position: absolute;
                    right: 0;
                    top: -.4rem;
                    height: 3.5rem;
                    width: 2px;
                    border-left: 2px solid var(--main-bg-color);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
}