:host {
  .comments {
    overflow-y: auto;
    max-height: 20rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .comment {
      background-color: var(--main-bg-color);
      line-height: 1rem;
      overflow: hidden;
      margin-bottom: 1.5rem;
      border-radius: 4px;

      &:hover,
      &:focus {
        .offline {
          opacity: 1;
        }
      }

      img {
        object-fit: cover;
        width: 4rem;
        transition: 0.35s all;
        height: 4rem;
        image-rendering: pixelated;

        &.offline {
          opacity: .5;
        }
      }

      .comment--vote {
        opacity: .8;
        transition: 250ms opacity;

        &:hover,
        &:focus {
          opacity: 1;
        }

        &.vote--active {
          opacity: 1;
        }
      }
    }
  }
}
