:host {
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  background-color: rgb(0 0 0 / 90%);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  color: #fff;
  display: none;

  .frank {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 142px;
    width: 185px;
    background-image: url('../../../../assets/images/client/disconnected.png');
    background-position: 0 -36px;
  }

  .title {
    position: relative;
    color: #fff;
    font-size: 310%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
