<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
    <div class="card article">
      <div class="card-body d-inline-flex flex-column">
        <div class="article--info d-flex align-items-center">
          <div class="article--user">
            <img
              src="https://www.habbo.com.br/habbo-imaging/avatarimage?&amp;user=OGabrielBraga&amp;action=std&amp;direction=3&amp;head_direction=3&amp;img_format=png&amp;gesture=std&amp;headonly=0&amp;size=s">
          </div>
          <span>necmi</span>

          <div class="d-flex align-items-center">
            <span class="article--date">22.06.2020</span>
          </div>
        </div>

        <div class="article--thumb mt-2">
          <img src="https://api.retrotimes.co/contents/images/topstory/uk_valentines_topstory_05.gif">
        </div>

        <p class="article--title">Room of the Week</p>
        <span class="article--description">
                                Gib dir mühe for the best room and you will win amenakoi so geht das
                            </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mb-2">
    <ares-layout-dashboard-article-slider [articles]="articles$"></ares-layout-dashboard-article-slider>
  </div>
</div>
