:host {
  img {
    object-fit: contain;
    height: 50px;
    border-radius: 4px;
  }

  .room--thumbnail {
    border-radius: 50em;
    object-fit: none;
  }

  #room--name {
    font-size: 17px;
  }

  #room--members {
    font-size: 15px;
  }
}
