<div class="row h-100">
  <div class="col-xl-5 col-lg-5 col-md-12 col-lg-12 mb-xl-0 mb-lg-0 mb-5">
    <div class="container w-75 d-flex flex-column mt-middle mt-md-2 mt-sm-2">
      <img src="logo.png" class="my-5 mx-auto"/>

      <form [formGroup]="authForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label" [translate]="'HOME.FORM.INPUT.USERNAME.LABEL'"></label>
          <input type="text" id="username" class="form-control p-4" formControlName="username" required
                 autocomplete="username" aria-describedby="usernameHelp" />
          <div id="usernameHelp" class="form-text" [translate]="'HOME.FORM.INPUT.USERNAME.HELP'"></div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label" [translate]="'HOME.FORM.INPUT.PASSWORD.LABEL'"></label>
          <input type="password" id="password" class="form-control p-4" formControlName="password" required
                 autocomplete="current-password"/>
        </div>

        <button class="btn btn-danger w-100 mt-2" [translate]="'HOME.FORM.BUTTON'"></button>
      </form>
    </div>
  </div>

  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 bg-red">
    <div class="room">
      <img src="../../../assets/images/rooms/vip.png" alt="second slide">
    </div>
  </div>
</div>
