<div class="row h-100">
    <div class="col-6">
        <div class="container login--container">
            <div class="alert alert-danger icons--key" [translate]="'HOME.ALERT'"></div>

            <form class="mt-5">
                <div class="form-group">
                    <input type="text" class="form-control p-4" [placeholder]="'HOME.FORM.INPUT.USERNAME' | translate" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control p-4" [placeholder]="'HOME.FORM.INPUT.PASSWORD' | translate" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-6 bg-red">
        <div class="room">
            <img src="../../../assets/images/rooms/vip.png" alt="second slide" style="display: block; width: 100%;">
        </div>
    </div>
</div>