@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Color Palette
$main-bg-color: #1b1b1b;
$main-bg-red: #b41030;
$main-bg-red-alt: #a51a33;
$main-bg-dark: #191919;
$main-bg-gray: #1c1d20;
$main-bg-green: #00732b;

// Text
$text-normal: #fff;
$text-link: #ff2953;
$text-link-hover: #e1284d;

// Swiper
$swiper-theme-color: #ff1744;

// Sidebar
$sidebar-bg-color: #1b1b1d;
$sidebar-brand-padding-top: 1.07rem;
$sidebar-brand-padding-bottom: 1.07rem;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1400px,
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1400px,
);

// Bootstrap Configuration
$body-bg: $main-bg-color;
$body-color: $text-normal;
