// Color Palette
$main-bg-color: #1C1D20;
$main-bg-red: #B41030;
$main-bg-red-alt: #A51A33;
$main-bg-dark: #202225;
$main-bg-gray: #292B2F;
$main-bg-green: #00732B;

// Text
$text-normal: #fff;
$text-link: #ff2953;
$text-link-hover: #e1284d;

// Swiper
$swiper-theme-color: #ff1744;

// Sidebar
$sidebar-bg-color: #1c1f22;
$sidebar-brand-padding-top: 1.07rem;
$sidebar-brand-padding-bottom: 1.07rem;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1400px
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1400px
);

// Bootstrap Configuration
$body-bg: $main-bg-color;
$body-color: $text-normal;
