button {
  &:focus {
    outline: unset !important;
  }
}

.close {
  background-image: url('./assets/images/icons/modal/close.png');
  background-repeat: no-repeat;
  background-color: var(--modal-close-bg) !important;
  background-size: 50%;
  background-position: center;
  transition: 0.25s all;
  border-radius: 50rem;
  opacity: 1;
  height: 2rem;
  float: right;
  width: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;

  &:hover,
  &:focus {
    opacity: .9;
  }
}
