button {
  &:focus {
    outline: unset !important;
  }
}

.close {
  background-image: url('/assets/images/icons/modal/close.png');
  background-repeat: no-repeat;
  background-color: var(--modal-close-bg) !important;
  background-size: 50%;
  background-position: center;
  transition: 0.25s all;
  border-radius: 50rem;
  opacity: 1;
  height: 2rem;
  float: right;
  width: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;

  &:hover,
  &:focus {
    opacity: .9;
  }
}

.btn {
  border: unset;
  padding: .8rem;
  transition: .25s background-color;

  &:focus,
  &:hover {
    box-shadow: none;
  }
}

.btn-lang {
  background-color: var(--main-bg-gray);
  color: #fff;
  padding: .5rem 1rem .5rem .5rem;

  &:hover,
  &:focus {
    background: #FF1744;
    color: #fff;
  }
}

.btn-danger {
  background-color: var(--btn-danger);

  &:hover,
  &:focus {
    background-color: var(--btn-danger-hover);
  }
}
