.form-control {
  background-color: #292B2F;
  border-radius: 2px;
  border: 1px solid #292B2F;
  transition: .25s all;
  color: #fff;

  &:focus {
    border-color: transparent;
    box-shadow: unset;
    background-color: #303235;
    color: #fff;
  }

  &.ng-touched {
    &.ng-invalid {
      border: 1px solid #b41030;
    }
  }
}

textarea {
  &.form-control {
    background-color: var(--main-bg-color);
    border-radius: 4px;
    padding: 2rem;
    resize: none;
    font-weight: 600;
    color: #fff;

    &:focus {
      background-color: var(--main-bg-color);
    }
  }
}

#comment--textarea {
  position: relative;

  &::after {
    background-position: 0rem -22.5rem;
    height: 2.5rem;
    width: 2.6rem;
    position: absolute;
    right: 1rem;
    top: -1rem;
  }
}

.ng-dirty.ng-invalid:not(form) {
  border: 1px solid #b41030;
}
