.sprite {
  background-image: url('../assets/images/sprites.png');

  &.sprite--credits {
    background-position: 5rem 0;
    height: 4rem;
    width: 5rem;
  }

  &.sprite--diamonds {
    background-position: 10.6rem 0;
    height: 5rem;
    width: 5.5rem;
  }

  &.sprite--duckets {
    background-position: 13.2rem 0;
    height: 3rem;
    width: 2.5rem;
  }

  &.sprite--date {
    background-position: 1.2rem -6.35rem;
    height: 20px;
    width: 20px;
  }

  &.sprite--dashboard {
    background-position: 1.2rem 0;
    height: 50px;
    width: 50px;
  }

  &.sprite--news {
    background-position: -1.8rem 0;
    height: 2rem;
    width: 2.4rem;
  }

  &.sprite--community {
    background-position: -7.5rem 0;
    height: 3rem;
    width: 2.4rem;
  }

  &.sprite--employees {
    background-position: -3.9rem 0;
    height: 2.5rem;
    width: 2rem;
  }

  &.sprite--settings {
    background-position: -5.8rem 0;
    height: 2rem;
    width: 1.5rem;
  }

  &.sprite--comments {
    background-position: -10.5rem 0;
    height: 3rem;
    width: 2.5rem;
  }

  &.sprite--article-slider-comments {
    background-position: -5.2rem -2rem;
    height: 2rem;
    width: 2rem;
  }

  &.sprite--comments-length {
    background-position: 1.2rem -17rem;
    height: 13px;
    width: 19px;
  }

  &.sprite--articles {
    background-position: 0rem -22.5rem;
    height: 2.5rem;
    width: 2.6rem;
  }

  &.sprite--members {
    background-position: 1.2rem -5rem;
    height: 20px;
    width: 20px;
  }

  &.sprite--discord {
    background-position: -4.8rem -4rem;
    height: 50px;
    width: 50px;
  }

  &.sprite--account {
    background-position: 1rem -7.7rem;
    height: 18px;
    width: 16px;
  }

  &.sprite--creator {
    background-position: 1.2rem -8.8rem;
    height: 20px;
    width: 20px;
  }

  &.sprite--like {
    background-position: 1rem -32.2rem;
    height: 13px;
    width: 16px;
  }

  &.sprite--dislike {
    background-position: 1rem -33rem;
    height: 13px;
    width: 16px;
  }

  &.sprite--thumb {
    background-position: -1.8rem -2.3rem;
    height: 2rem;
    width: 1.7rem;
  }

  &.sprite--user-of-the-hotel {
    background-position: -3.5rem -9rem;
    height: 4rem;
    width: 2.3rem;
  }

  &.sprite--dashboard-pinned-articles {
    background-position: -5.7rem -9rem;
    height: 4rem;
    width: 2rem;
  }

  &.sprite--dashboard-articles {
    background-position: -0.1rem -22.6rem;
    height: 2.4rem;
    width: 2.3rem;
  }

}

.ares--icon {
  background-image: url('../assets/images/icons/ares.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icons--key::before {
  content: " ";
  display: block;
  background-image: url('../assets/images/icons/key.png');
  background-repeat: no-repeat;
  background-size: 2.2rem;
  background-position: center center;
  width: 1rem;
  height: 2.5rem;
  padding-right: 3.5rem;
  margin-top: -6px;
}

.icon--gift {
  background-image: url('../assets/images/icons/gift.png');
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.icon--dashboard {
  background-image: url('../assets/images/icons/dashboard.png');
  background-repeat: no-repeat;
}

.icon--articles {
  background-image: url('../assets/images/icons/articles.png');
  background-repeat: no-repeat;
}

.icon--community {
  background-image: url('../assets/images/icons/community.png');
  background-repeat: no-repeat;
}

.icon--employees {
  background-image: url('../assets/images/icons/employees.png');
  background-repeat: no-repeat;
}

.icon--settings {
  background-image: url('../assets/images/icons/settings.png');
  background-repeat: no-repeat;
}

.icon--lang-de {
  background-image: url('../assets/images/icons/lang/de.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
}

.icon--lang-en {
  background-image: url('../assets/images/icons/lang/en.png');
  background-repeat: no-repeat;
  height: 31px;
  width: 23px;
}

.icon--lang-tr {
  background-image: url('../assets/images/icons/lang/tr.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
}

.icon--credits {
  background-image: url('../assets/images/icons/credits.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
}

.icon--xp {
  background-image: url('../assets/images/icons/xp.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 22px;
}
