@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.dropdown-menu {
  animation-name: dropSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  margin: 0;
  top: 5rem;

  .dropdown-item {
    transition: 0.25s background-color;
    color: #fff;

    &.active {
      &:hover,
      &:focus {
        background: #ff1744;
      }
    }

    &.active,
    &:active {
      background: #ff1744;
    }

    &:hover,
    &:focus {
      outline: none;
      background: var(--main-bg-gray);
    }
  }
}

@keyframes dropSlide {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
