.bg-red {
  background-color: var(--main-bg-red) !important;
}

.bg-dark {
  background-color: var(--main-bg-dark) !important;
}

.bg-gray {
  background-color: var(--main-bg-gray) !important;
}

.bg-green {
  background-color: var(--main-bg-green) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-middle {
  margin-top: calc(100vh - 85vh) !important;
}

.text--red {
  color: var(--text-link) !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-pixelated {
  image-rendering: pixelated;
}

.h-100-vh {
  height: 100vh !important;
}
