@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 2.5rem;
}

#friends {
  margin-top: .5rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 15rem;
}

.friend {
  &.offline {
    background-color: var(--main-bg-color);

    &:hover,
    &:focus {
      opacity: 1;

      img {
        opacity: 1;
      }
    }

    img {
      opacity: .5;
    }
  }

  background-color: var(--main-bg-red-alt);
  border: unset;
  height: 3.5rem;
  border-radius: 4px;
  transition: .25s opacity;

  &:first-child {
    margin-top: 1rem;
  }

  .card-body {
    padding-top: .7rem;
  }

  img {
    object-fit: cover;
    width: 4rem;
    position: relative;
    clip-path: inset(0 0 20% 0);
    transition: 0.35s all;
    height: 6rem;
  }

  .user-info {
    height: fit-content;

    .username {
      font-size: 0.8rem;
      font-weight: 600;
      width: 5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @include media-breakpoint-between(sm, lg) {
        width: 100%;
      }
    }

    .motto {
      width: 5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: .71rem;
      font-weight: 300;

      @include media-breakpoint-between(sm, lg) {
        width: 100%;
      }
    }
  }
}

#search {
  border-radius: 50rem;

  & > input {
    background-color: var(--gray);
    border: 5px solid #fff !important;
    border-radius: 50rem !important;
    padding: 1rem;
    color: #3D3D44;
    font-weight: 700;
  }

  #search-icon {
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    color: #6E6E6E;
    border: 1px solid #fff;
    width: 2rem;
    padding: 0;

    & > fa-icon {
      margin-left: .25rem
    }
  }
}
