<div class="d-flex justify-content-center align-items-center h-100 w-100">
  <div class="container mt-4">
    <h5 class="mb-3" [innerHTML]="'SIDEBAR.HOBBA.SETTINGS' | translate"></h5>
    <div class="card d-flex p-4">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="row">
            <div class="col-6">
              <strong>Key</strong>
            </div>

            <div class="col-6">
              <strong>Value</strong>
            </div>
          </div>
        </div>

        <div class="col-12 mb-3" *ngFor="let setting of settings">
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control" [value]="setting?.key" disabled/>
            </div>

            <div class="col-6 flex-column">
              <input type="text" class="form-control" [value]="setting?.value"
                (keyup)="onChange(setting?.id, $event.target.value)" />
              <ng-container *ngIf="itemsToUpdate[setting?.id]">
                <button @fade type="button" class="btn btn-success py-1 px-5 mt-2"
                  (click)="update(setting?.id, setting?.key)"
                  [innerHTML]="'HOBBA.SETTINGS.SAVE' | translate"></button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
