@import '../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  height: inherit;
  width: inherit;
  overflow-x: hidden;

  main {
    flex: 1 0 auto;
    padding-top: 5.28rem;
    padding-left: 15rem;

    @include media-breakpoint-down(lg) {
      padding-left: 5rem;
    }
  }
}

.ares--routes {
  .ngx-overlay {
    display: none !important;
  }
}
