<ares-layout-loader [@loader]="!state"></ares-layout-loader>

<ng-container *ngIf="isAuthenticated; else guest">
  <ares-client></ares-client>

  <div class="d-inline-flex flex-row">
    <ares-sidebar id="sidebar"></ares-sidebar>

    <main class="d-inline-flex flex-column">
      <ng-container *ngIf="router.url !== '/client';">
        <ares-navbar class="navbar fixed-top navbar-expand-md navbar-dark"></ares-navbar>
        <router-outlet></router-outlet>
      </ng-container>

      <ares-footer class="d-flex flex-column"></ares-footer>
    </main>
  </div>
</ng-container>

<ng-template #guest>
  <main>
    <router-outlet></router-outlet>
  </main>
</ng-template>
