@import '../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;

  main {
    padding-top: 5.28rem;
    height: 100vh;
    width: calc(100% - 15em);
    margin-left: 15em;
    transition: 250ms width;

    @include media-breakpoint-down(lg) {
      &:not(.no--sidebar) {
        width: calc(100% - 5em);
        margin-left: 5em;
      }
    }

    &.no--sidebar {
      height: 70vh;
      width: 70vw;
      padding-top: 0;
      margin-left: 0;
      border-radius: 4px;
      box-shadow: 0 0 7px 1px rgb(0 0 0 / 45%);

      @include media-breakpoint-down(lg) {
        height: unset;
      }

      @include media-breakpoint-down(md) {
        width: 100vw;
      }

      &.register {
        height: 70vh;
        box-shadow: unset;
        background: transparent !important;

        @include media-breakpoint-down(lg) {
          height: unset;
        }

        @include media-breakpoint-down(md) {
          width: 100vw;
        }
      }
    }
  }
}

.ares--routes {
  .ngx-overlay {
    display: none !important;
  }
}
