@import '../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;

  main {
    padding-top: 5.28rem;
    width: calc(100% - 15em);
    margin-left: 15em;

    @include media-breakpoint-down(lg) {
      width: calc(100% - 5em);
      margin-left: 5em;
    }
  }
}

.ares--routes {
  .ngx-overlay {
    display: none !important;
  }
}
