<div class="bg-overlay"></div>

<div class="container">
  <div class="row justify-content-xl-center justify-content-lg-center align-items-center justify-content-md-start h-100">
    <div class="col-xl-8 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xl-2 col-lg-2 d-xl-block d-lg-block d-none">
          <div class="user--avatar">
            <img [src]="figure()" [alt]="user?.username" />
          </div>
        </div>

        <div class="col-xl-10 col-lg-10">
          <div class="d-flex flex-column ml-2 pt-4">
            <h3>Willkommen zurück, <strong>{{ user?.username }}</strong></h3>
            <p class="mb-1">Deine letzte Anmeldung war am 21.08.2020 um 21:22.</p>
            <span>Motto: <strong>{{ user?.motto }}</strong></span>

            <div class="row mt-3 user--info">
              <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="d-inline-flex flex-row">
                  <div class="ares--sprite credits mr-2"></div>
                  <strong class="py-3">{{ user?.credits | numberSuffix: 2.0 }}</strong>
                </div>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="d-inline-flex flex-row">
                  <div class="ares--sprite diamonds mr-2"></div>
                  <strong class="py-3">{{ user?.points | numberSuffix: 2.0 }}</strong>
                </div>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="d-inline-flex flex-row">
                  <div class="ares--sprite duckets my-3 mr-2"></div>
                  <strong class="py-3">{{ user?.pixels | numberSuffix: 2.0 }}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="d-flex flex-column">
        <h5 class="align-self-end" [innerHTML]="'DASHBOARD.HERO.COUNTER' | translate: { online: this.counter, name: this.name }"></h5>
        <a routerLink="/client" class="btn btn-client" [translate]="'DASHBOARD.HERO.ENTER'"></a>
      </div>
    </div>
  </div>
</div>
