:host {
  img {
    object-fit: contain;
    image-rendering: pixelated;
    height: 50px;
    border-radius: 4px;
  }

  #room--name {
    font-size: 17px;
  }

  #room--members {
    font-size: 15px;
  }
}
