:host {
  .card-body {
    background-color: var(--main-bg-gray);
    height: 6rem;

    img {
      height: 220px;
      clip-path: inset(0 0 35% 0);
      transform: translateY(-4rem);
    }

    .offline {
      opacity: 0.7;
      transition: 250ms opacity;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    .user--username {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .user--motto {
      font-size: 1rem;
    }
  }
}
