.ares--hero {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: relative;
  box-shadow: inset -3rem 10rem 6rem -5rem rgb(0 0 0 / 65%), inset -3rem -10rem 6rem -5rem rgb(0 0 0 / 65%);
}

.icon--community {
  height: 52px;
  width: 40px;
  position: relative;
  top: -.7rem;
}

.rank-name {
  font-size: 1.5rem;
}
