:host {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 9.5rem;
    background-color: #1B1D20;
    font-size: 15px;
    margin-top: 2rem;
}

p {
    opacity: .7;
}

.bg-dark {
    background-color: #151719 !important;
}

#ares--lang {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & > li {
    list-style-type: none;
    background-color: var(--main-bg-gray);
    float: left;
    padding: .6rem .8rem;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3803921568627451);
    height: 3rem;
    max-height: 3rem;

    &:hover,
    &.active {
      background-color: #FF1744;
    }
  }
}
