<div class="container py-4">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 d-flex align-items-center justify-content-center">
            <div class="ares--logo d-none d-md-block"></div>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10 pt-3">
            <div class="d-flex">
                <strong>Ares</strong> 
                <p class="m-0" [innerHTML]="'FOOTER.RIGHTS_RESERVED' | translate"></p>
            </div>
            <p class="m-0" [innerHTML]="'FOOTER.NOT_SULAKE' | translate"></p>
        </div>
    </div>
</div>

<div class="pt-2 pb-2 pb-lg-0 text-center bg-dark col-12">
    Made with <span>&#10084;&#65039;</span> from <strong>Ares</strong>
</div>