:host {
  height: 100%;
  width: 100%;

  a {
    font-weight: normal;
    color: #fff;
  }

  .article--image {
    height: 4.5rem;
    width: 10rem;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .article--date {
    color: #7a7a7a;
  }
}
