@import '../../../../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  background: var(--sidebar-bg-color);
  width: 15em;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 250ms all;

  @include media-breakpoint-down(lg) {
    width: 5em;

    .sidebar--category {
      display: none;
    }

    .sidebar--entry {
      span {
        display: none;
      }
    }
  }

  #sidebar--nav {
    .sidebar--brand {
      border-bottom: 1px solid rgba(0 0 0 / 40%);
      padding-top: var(--sidebar-brand-padding-top);
      padding-bottom: var(--sidebar-brand-padding-bottom);

      img {
        height: 50px;
      }

      @include media-breakpoint-down(xs) {
        .logo--big {
          display: none;
        }
      }
    }

    li:not(.sidebar--brand) {
      padding: 1rem 1rem 0 1rem;

      .sidebar--category {
        margin-bottom: 1rem;
        color: #b1b1b1;
        text-transform: uppercase;
        font-size: .8rem;
      }

      .sidebar--category-nav {
        margin-top: .5rem;

        .sidebar--entry {
          background: #272a2d;
          color: #fff;
          opacity: .6;
          transition: 350ms all;
          padding-left: .5rem;
          border-radius: 4px;
          display: flex;
          align-items: center;
          border: none !important;
          height: 3rem;

          &:hover,
          &:focus {
            opacity: 1;
          }

          &:not(:first-child) {
            margin-top: .5rem;
          }

          img {
            padding-right: .5rem;
          }
        }

        .active {
          opacity: 1;
          border: none;
        }
      }
    }
  }

  .list-group {
    .list-group-item {
      background: var(--main-bg-gray);
    }
  }
}
