:host {
  max-height: 36rem;

  .icon {
    height: 3.2rem;
    width: 2.41rem;
  }

  #entries {
    overflow-y: auto;
    max-height: 19rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .entry {
      background-color: var(--main-bg-color);
      line-height: 1rem;
      overflow: hidden;
      border-radius: 4px;
      transition: .25s opacity;

      &:hover,
      &:focus {
        .offline {
          opacity: 1;
        }
      }

      img {
        object-fit: cover;
        width: 4rem;
        position: relative;
        clip-path: inset(0 0 3% 0);
        transition: 0.35s all;
        height: 3.7rem;

        &.offline {
          opacity: .5;
        }
      }
    }
  }
}
