<section class="ares--hero bg-red" [ngStyle]="{'background-image': 'url('+ article.image +')'}">
  <div id="article" class="d-flex flex-column justify-content-center align-items-center h-100">
    <h2 class="article--title my-0">{{ article.title }}</h2>
    <h4 class="article--description pb-2 my-0">{{ article.description }}</h4>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-sm-12">
      <div class="card article--card d-flex px-4 py-2 mb-4">
        <div class="card-header d-inline-flex align-items-center flex-row px-0">
          <div class="author--look mr-2">
            <img [src]="imager + article.author.look + '&amp;action=std&amp;direction=2&amp;head_direction=2&amp;img_format=png&amp;gesture=std&amp;headonly=0&amp;size=s'" [alt]="article.author.username">
          </div>

          <span class="mr-2 flex-fill">{{ article.author.username }}</span>

          <div class="d-inline-flex flex-row align-items-center mr-2">
            <i class="sprite sprite--date mr-2"></i>
            <span>{{ article.created_at.date | date: date }} - {{ article.created_at.date | date: time }}</span>
          </div>

          <div class="d-inline-flex flex-row align-items-center mr-2">
            <i class="sprite sprite--comments-length mt-1 mr-2"></i>
            <span>{{ article.comments }}</span>
          </div>
        </div>

        <div class="card-body px-0 py-1">
          <div class="article--content" [innerHTML]="article.content | sanitizer"></div>
        </div>
      </div>

      <ares-layout-article-comments [comments]="comments" [pagination]="commentsPagination" [id]="article.id" (hasCommented)="onComment()"></ares-layout-article-comments>
    </div>

    <div class="col-xl-4 col-lg-4 col-sm-12">
      <ares-layout-article-articles [articles]="articles"></ares-layout-article-articles>
    </div>
  </div>
</div>
