@import '../../styles/variables';
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

#logo {
  object-fit: contain;
}

#form--progress {
  padding: 0;

  li {
    list-style-type: none;
    font-size: 15px;
    float: left;
    position: relative;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    width: 8rem;
    align-items: center;

    &:after {
      content: '';
      width: 100%;
      height: 5px;
      background: var(--main-bg-red);
      position: absolute;
      left: 0;
      top: 1.2rem;
      z-index: -1;
    }

    &:first-child::after {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }

    &:last-child::after {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }

    .progress--icon {
      border-radius: 50rem;
      background: var(--main-bg-red);
      padding: .6rem;
      object-fit: contain;
      margin-bottom: 0.5rem;
      height: 45px;
      width: 45px;
    }
  }

  .success {
    &::after {
      background-color: var(--bs-green);
    }

    .progress--icon {
      background-color: var(--bs-green);
    }
  }
}

.look {
  margin-top: 1rem;
  border-radius: 50%;
  background-color: var(--main-bg-gray);
  padding: .5rem;
  opacity: .6;
  transition: 250ms opacity;

  &.selected {
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.selected-look {
  background-image: url('../../assets/images/register/shine.png');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#register--back {
  font-weight: 600;
  color: #fff;

  & > span {
    color: #000 !important;
  }
}

.w-50 {
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}

#username-group {
  position: relative;

  & > img {
    position: absolute;
    right: 0;
    z-index: 4;
    image-rendering: pixelated;
    transform: translateX(-.8rem) scale(2);
    clip-path: inset(0 0 42% 0);
  }

  & > .mannequin {
    transform: scaleX(-1) scale(2);
    clip-path: inset(0 0 42% 0);
  }

  & > #username {
    background-image: url('../../assets/images/icons/home/username.png');
    background-repeat: no-repeat;
    background-position: 1rem 1.35rem;
    padding-left: 3rem !important;
  }
}

#password {
  background-image: url('../../assets/images/icons/home/password.png');
  background-repeat: no-repeat;
  background-position: 1rem 1.35rem;
  padding-left: 3rem !important;
}

#confirm-password {
  background-image: url('../../assets/images/icons/home/password.png');
  background-repeat: no-repeat;
  background-position: 1rem 1.35rem;
  padding-left: 3rem !important;
}

#email {
  background-image: url('../../assets/images/icons/register/mail.png');
  background-repeat: no-repeat;
  background-size: 1.7rem;
  background-position: 1rem 1.55rem;
  padding-left: 3rem !important;
}
